<!DOCTYPE html>
<html>
<head>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

<script src="//apis.google.com/js/platform.js?onload=start"> </script>
<script>
function start() {
  gapi.load('auth2', function() {
    auth2 = gapi.auth2.init({
      client_id: '{{CLIENT_ID}}.apps.googleusercontent.com'
    });
  });
}
</script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>


<body>


<!-- GOOGLE PLUS SIGN IN BUTTON-->


          <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="{{CLIENT_ID}}.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
            <button id="signinButton" type="submit" method="POST">Sign in With Google</button>
            <script>
            $('#signinButton').click(function(){
              // signInCallback defined in step 6
              auth2.grantOfflineAccess().then(signInCallback)
            })
            </script>
          </span>
        </div>

        <!-- Last part of BODY element in file index.html -->
        <script>
        function signInCallback(authResult) {
          if (authResult['code']) {

            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');

            // Send the code to the server
            $.ajax({
              type: 'POST',
              url: 'http://example.com/storeauthcode',
              // Always include an `X-Requested-With` header in every AJAX request,
              // to protect against CSRF attacks.
              headers: {
                'X-Requested-With': 'XMLHttpRequest'
              },
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                // Handle or verify the server response.
              },
              processData: false,
              data: authResult['code']
            });
          } else {
            // There was an error.
          }
        }
        </script>


<!--END GOOGLE PLUS SIGN IN BUTTON -->

  </body>

  </html>
